name: mon_app_tech
description: "A new Flutter project."
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.10.7

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8

  shared_preferences: ^2.2.3
  pdf: ^3.11.0
  printing: ^5.13.4
  http: ^1.2.0
  url_launcher: ^6.3.0
  file_picker: ^8.0.0
  archive: ^3.4.10
  xml: ^6.5.0
  web: ^1.0.0




dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/lumiere/fixtures.json
